body {
    margin:0;
    padding-top: 550px;
    text-align: center;
}
.profile {
    border-radius: 50%;
}
#welcome {
    position:absolute;
    bottom:0;
    background:linear-gradient(#2c0d4a 0%, #913ce6 100%);
    display:table;
    width:100%;
    height:100%;
    z-index: 9;
}
h1{
    font-size:40px ;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 300;
}
#name{
    font-size: 50px;
    font-family: 'Noto Sans', sans-serif;
}
.line{
    height:6px;
    background-color:black;
    width:70px;
    margin:8px auto;
}
#bio{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:50px;
}
.menu{
    position:fixed;
    top:0px;
    z-index:10;
    cursor: pointer;
}
.links{
    display:inline;
    padding-left: 9px;
    padding-right: 9px;
    font-size:20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.links:hover{
    font-size:25px;
    text-decoration:underline;
}
a{
    text-decoration: none;
}
#contact iframe{
    width:100%;
}